<main class="container">
  <h1>task editor</h1>
  <% if user_signed_in? %>
    <%= link_to "View tasks", tasks_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</main>
