<main class="container">
  <%= link_to sanitize("&larr; Back to task"),
              task_path(@task) %>

  <div class="header">
    <h1>Edit item</h1>
  </div>

  <%= turbo_frame_tag @line_item do %>
    <%= render "form",
              task: @task,
              line_item_date: @line_item_date,
              line_item: @line_item %>
  <% end %>
</main>
